<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
</head>
<body>
    <h1>WELCOME TO RELATIVE URL TEMPLATES</h1>
    <a href="{% url 'basic_app:other' %}">The other page</a>
    <div><a href="{% url 'admin:index' %}">Go to Admin page</a>
    </div>
    <div>
        <a href="{% url 'index' %}">Link to index</a>
    </div>
</body>
</html>